/.gradle/4.1
/.gradle/buildOutputCleanup/built.bin
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/cache.properties.lock
/anat-annotation/build.gradle
/anat-annotation/build/classes/java/main/org/intermine/model/bio/AnatAnnotation.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/AnatAnnotationShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/AnatEvidence.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/AnatEvidenceCode.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/AnatEvidenceCodeShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/AnatEvidenceShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/AnatomyOntology.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/AnatomyOntologyShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Annotatable.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/AnnotatableShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Author.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/AuthorShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/BioEntity.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/BioEntityShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/CDS.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/CDSShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Chromosome.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/ChromosomeShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Comment.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/CommentShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/CrossReference.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/CrossReferenceShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/DatabaseReference.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/DatabaseReferenceShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/DataSet.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/DataSetShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/DataSource.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/DataSourceShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Exon.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/ExonShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Gene.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/GeneFlankingRegion.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/GeneFlankingRegionShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/GeneShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/IntergenicRegion.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/IntergenicRegionShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Intron.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/IntronShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Location.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/LocationShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/MeshTerm.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/MeshTermShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Ontology.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyAnnotation.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyAnnotationEvidenceCode.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyAnnotationEvidenceCodeShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyAnnotationShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyEvidence.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyEvidenceShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyRelation.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyRelationShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyTerm.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyTermShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyTermSynonym.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OntologyTermSynonymShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Organism.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/OrganismShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Protein.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/ProteinShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Publication.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/PublicationShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Sequence.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SequenceCollection.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SequenceCollectionShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SequenceFeature.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SequenceFeatureShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SequenceShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SequenceVariant.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SequenceVariantShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SOTerm.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SOTermShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Synonym.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SynonymShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SyntenicRegion.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SyntenicRegionShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SyntenyBlock.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/SyntenyBlockShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/Transcript.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/TranscriptShadow.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/UTR.class
/anat-annotation/build/classes/java/main/org/intermine/model/bio/UTRShadow.class
/anat-annotation/build/gen/org/intermine/model/bio/AnatAnnotation.java
/anat-annotation/build/gen/org/intermine/model/bio/AnatAnnotationShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/AnatEvidence.java
/anat-annotation/build/gen/org/intermine/model/bio/AnatEvidenceCode.java
/anat-annotation/build/gen/org/intermine/model/bio/AnatEvidenceCodeShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/AnatEvidenceShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/AnatomyOntology.java
/anat-annotation/build/gen/org/intermine/model/bio/AnatomyOntologyShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Annotatable.java
/anat-annotation/build/gen/org/intermine/model/bio/AnnotatableShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Author.java
/anat-annotation/build/gen/org/intermine/model/bio/AuthorShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/BioEntity.java
/anat-annotation/build/gen/org/intermine/model/bio/BioEntityShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/CDS.java
/anat-annotation/build/gen/org/intermine/model/bio/CDSShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Chromosome.java
/anat-annotation/build/gen/org/intermine/model/bio/ChromosomeShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Comment.java
/anat-annotation/build/gen/org/intermine/model/bio/CommentShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/CrossReference.java
/anat-annotation/build/gen/org/intermine/model/bio/CrossReferenceShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/DatabaseReference.java
/anat-annotation/build/gen/org/intermine/model/bio/DatabaseReferenceShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/DataSet.java
/anat-annotation/build/gen/org/intermine/model/bio/DataSetShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/DataSource.java
/anat-annotation/build/gen/org/intermine/model/bio/DataSourceShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Exon.java
/anat-annotation/build/gen/org/intermine/model/bio/ExonShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Gene.java
/anat-annotation/build/gen/org/intermine/model/bio/GeneFlankingRegion.java
/anat-annotation/build/gen/org/intermine/model/bio/GeneFlankingRegionShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/GeneShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/IntergenicRegion.java
/anat-annotation/build/gen/org/intermine/model/bio/IntergenicRegionShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Intron.java
/anat-annotation/build/gen/org/intermine/model/bio/IntronShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Location.java
/anat-annotation/build/gen/org/intermine/model/bio/LocationShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/MeshTerm.java
/anat-annotation/build/gen/org/intermine/model/bio/MeshTermShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Ontology.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyAnnotation.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyAnnotationEvidenceCode.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyAnnotationEvidenceCodeShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyAnnotationShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyEvidence.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyEvidenceShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyRelation.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyRelationShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyTerm.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyTermShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyTermSynonym.java
/anat-annotation/build/gen/org/intermine/model/bio/OntologyTermSynonymShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Organism.java
/anat-annotation/build/gen/org/intermine/model/bio/OrganismShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Protein.java
/anat-annotation/build/gen/org/intermine/model/bio/ProteinShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Publication.java
/anat-annotation/build/gen/org/intermine/model/bio/PublicationShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Sequence.java
/anat-annotation/build/gen/org/intermine/model/bio/SequenceCollection.java
/anat-annotation/build/gen/org/intermine/model/bio/SequenceCollectionShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/SequenceFeature.java
/anat-annotation/build/gen/org/intermine/model/bio/SequenceFeatureShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/SequenceShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/SequenceVariant.java
/anat-annotation/build/gen/org/intermine/model/bio/SequenceVariantShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/SOTerm.java
/anat-annotation/build/gen/org/intermine/model/bio/SOTermShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Synonym.java
/anat-annotation/build/gen/org/intermine/model/bio/SynonymShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/SyntenicRegion.java
/anat-annotation/build/gen/org/intermine/model/bio/SyntenicRegionShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/SyntenyBlock.java
/anat-annotation/build/gen/org/intermine/model/bio/SyntenyBlockShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/Transcript.java
/anat-annotation/build/gen/org/intermine/model/bio/TranscriptShadow.java
/anat-annotation/build/gen/org/intermine/model/bio/UTR.java
/anat-annotation/build/gen/org/intermine/model/bio/UTRShadow.java
/anat-annotation/build/libs/bio-source-anat-annotation-2.0.0.jar
